[env]
PORT = "5000"
DISCORD_TOKEN = "$DISCORD_TOKEN"
DISCORD_GUILD_ID = "$DISCORD_GUILD_ID"
DISCORD_CLIENT_ID = "$DISCORD_CLIENT_ID"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]